:root {
  font-size: 62.5%;

  --ff-text: "Noto Sans Thai", "Thonburi", sans-serif;
  --ff-title: "The Matter";
  --ff-footer: "Noto Sans", "Noto Sans Thai", "Thonburi", sans-serif;

  --cl-white: #ffffff;
  --cl-black: #272727;
  --cl-paper-gray: #eeeeee;
  --cl-pink: #fcbbdd;
  --cl-primary: #ef314b;

  --cl-gray-0: #363636;
  --cl-gray-1: #6c6c6c;
  --cl-gray-2: #979797;
  --cl-gray-3: #cccccc;
  --cl-gray-4: #eeeeee;

  --cl-vote-abstained: #cccccc;
  --cl-vote-yes: #329a2e;
  --cl-vote-no: #ec2627;

  --cl-theme-0: #fcf1f6;
  --cl-theme-1: #f8d7e5;
  --cl-theme-2: #fcbbdd;
  --cl-theme-3: #c9a8b8;
  --cl-theme-4: #9a8a93;
  --cl-theme-5: #222222;
  --cl-theme-unknown: #cccccc;

  --container-width: 920px;
}

a {
  color: var(--cl-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
