.section {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.book {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin: 0 auto 5rem auto;
  background-color: var(--cl-white);
  border-radius: 1rem;
  box-shadow: 5px 5px var(--cl-black);
}
.page {
  width: 100%;
  display: inline-block;
  padding: 0 2rem 0 2rem;
  vertical-align: top;

  padding-bottom: 2rem;
  padding-top: 1rem;
}

.leftPage {
  border-radius: 1rem 0 0 1rem;
  background: none;
}

.peopleCard {
  width: 50%;
  display: inline-block;
  margin-bottom: 0;
}

.lastUpdate {
  font-size: 2.4rem;
  text-align: center;
  margin-top: 2rem;
}

@media screen and (min-width: 767px) {
  .section {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }
  .book {
    flex-direction: row;
    width: 962px;
    min-height: 665px;
  }
  .page {
    width: 50%;
    display: block;
  }
  .leftPage {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 72%,
      rgba(246, 246, 246, 1) 100%
    );
  }
  @media screen and (max-width: 960px) {
    .peopleCard {
      width: 100%;
      display: block;
      margin-bottom: 0;
    }
  }
}
