.section {
    padding-top: 8rem;
    padding-bottom: 5rem;
    width: 100%;
  }

h2 {
    font-size: 4.8rem;
    text-align: center;
}

.book {
    width: 962px;
    height: 665px;
    margin: 0 auto 5rem auto;
    background-color: var(--cl-white);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--cl-black);
}
.page {
    width: 50%;
    display: inline-block;
    padding: 0 2rem 0 2rem;
    vertical-align: top;
}

.leftPage {
    border-radius: 1rem 0 0 1rem;
    background: linear-gradient(90deg, rgba(255,255,255,1) 72%, rgba(246,246,246,1) 100%);
}

.peopleCard {
    width: 50%;
    display: inline-block;
    margin-bottom: 2rem;
}

.lastUpdate {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 2rem;
}

@media screen and (max-width: 960px) {
    .section {
        padding-left: 2rem;
        padding-right: 3rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .book {
        width: 100%;
        height: auto;
        margin: 0;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }    
    .page {
        width: 100%;
        display: block;
    }

    .peopleCard {
        width: 100%;
        display: block;
        margin-bottom: 2rem;
    }

    .leftPage {
        background: none;
    }
    
}