.waffle {
  display: flex;
  flex-wrap: wrap;
  width: 813px;
  height: 440px;
  margin: 50px 0;
}

.line {
  background-color: black;
  width: 3px;
  height: 505px;
  margin: -40px 30px -25px -10px;
}

.hundred {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 95px;
  height: 440px;
  margin: 0 35px 35px 0;
}

.quarter {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 95px;
  height: 95px;
  margin: 0 0 15px 0;
}

.person {
  width: 12px;
  height: 12px;
  margin: 0 7px 7px 0;
}
.person.of-interest {
  background-color: #F9AAD4;
}
.person.other {
  background-color: #B3B3B3;
}

@media only screen and (max-width: 480px) {
  .waffle {
    width: 440px;
    height: 780px;
  }

  .line {
    width: 505px;
    height: 3px;
    margin: -10px -25px 30px -40px;
  }
  
  .hundred {
    flex-wrap: nowrap;
    width: 440px;
    height: 95px;
  }

  .quarter {
    margin: 0 15px 0 0;
  }
}