.hamburger-icon {
  height: 40px;
  width: 40px;
  position: relative;
  top: 0;
  right: -0.75rem;
  z-index: 600;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 21px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--cl-black);
  transition: all 0.3s;
}

.bar:before,
.bar:after {
  height: 3px;
  width: 100%;
  background: var(--cl-black);
  position: absolute;
  content: "";

  transition: all 0.3s;
}

.bar:after {
  top: 6px;
}

.bar:before {
  top: -6px;
}

.bar-white:before,
.bar-white:after {
  background: var(--cl-paper-gray) !important;
}

.logo {
  margin-left: 1rem;
}

.animateIcon .fade-center::after {
  top: 0;
  transform: rotate(45deg);
}

.animateIcon .fade-center::before {
  top: 0;
  transform: rotate(-45deg);
}

.animateIcon .fade-center {
  background: none;
}

@media screen and (min-width: 767px) {
  .hamburger-icon {
    height: 60px;
    width: 60px;
    position: relative;
    z-index: 600;
    cursor: pointer;
  }

  .bar {
    width: 32px;

    &,
    &:before,
    &:after {
      height: 5px;
    }
  }

  .bar:after {
    top: 8px;
  }

  .bar:before {
    top: -8px;
  }
}
