@import "~normalize.css";
@import "../styles/typography.css";
@import "../styles/global.css";
@import "@wevisdemo/ui/styles/typography.css";
@import "@wevisdemo/ui/styles/components.css";

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--ff-text);
  color: var(--cl-black);
  background: var(--cl-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

p,
ol,
ul {
  margin-bottom: 2.4rem;
}

/* Correct WeVis UI for font-size: 62.5%; */
.wv_navbar__logo__wevis {
  padding: 0.1rem;
}

.wv_navbar__logo__wevis svg {
  height: 35px;
  width: auto;
}

.wv_footer__logo svg {
  height: 1.5rem;
}

@media (min-width: 768px) {
  .wv_navbar__logo__wevis {
    padding: 0.5rem;
  }

  .wv_footer__logo svg {
    height: 2rem;
  }
}
