@import "~normalize.css";
@import "../styles/fonts.css";
@import "../styles/global.css";

body {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--ff-text);
  color: var(--cl-black);
  background: var(--cl-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
}

p,
ol,
ul {
  margin-bottom: 2.4rem;
}
