.waffle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

.line {
  background-color: black;
  width: 2px;
  align-self: stretch;
  margin: 0 1rem;
}

.waffle-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.waffle-group > [data-gatsby-image-wrapper] {
  overflow: hidden;
  border-radius: 50%;

  border: 1px #ccc solid;

  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.waffle-chunk-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 4px;
  gap: 4px;
}

.waffle-chunk {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: start;
  width: min-content;
}

@media only screen and (max-width: 900px) {
  .line {
    margin: 0 0.5rem;
  }

  .waffle-chunk-container {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 570px) {
  .waffle {
    flex-direction: column;
  }

  .line {
    width: auto;
    height: 2px;
    margin: 1rem 0;
  }

  .waffle-chunk-container {
    grid-template-columns: repeat(2, auto);
  }

  .waffle-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}
