.waffle {
  display: flex;
  flex-wrap: wrap;
  width: 950px;
  height: 348px;
}

.line {
  background-color: black;
  width: 2px;
  height: 324px;
  margin: 0 3rem 0 0;
}

.hundred {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 55px;
  height: 348px;
  margin: 0 27px 0 0;
}

.quarter {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 55px;
  height: 55px;
  margin: 0 0 9px 0;
}

@media only screen and (max-width: 950px) {
  .waffle {
    width: 348px;
    height: 750px;
  }

  .line {
    width: 333px;
    height: 2px;
    margin: 0 0 3rem;
  }

  .hundred {
    flex-wrap: nowrap;
    width: 348px;
    height: 75px;
  }

  .quarter {
    margin: 0 12px 0 0;
  }
}
