.footer {
  letter-spacing: 0.92px;
  display: grid;
  grid-template-columns: 7vw 1fr 7vw;
  grid-auto-rows: auto auto;
  background-color: black;
  padding: 50px 0;
}
.footer a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.footer-container {
  max-width: 920px;
  margin: auto;
  display: grid;
  column-gap: 2vw;
  row-gap: 2vw;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "elect elect elect elect contact contact contact contact"
    "partner fnf punchup bml ilaw . copyright copyright";
}

.footer-elect {
  grid-area: elect;
  justify-self: left;
  margin-bottom: 3rem;
}

.footer-elect::before {
  background-color: #ef314a;
  content: "";
  position: absolute;
  height: 63px;
  width: 4px;
  margin-top: 15px;
}

.footer-contact {
  grid-area: contact;
  justify-self: right;
  margin-bottom: 3rem;
}

.footer * {
  color: white;
}

.footer-partner {
  grid-area: partner;
}

.footer-copyright {
  margin: auto 0;
  font-size: 1rem;
  justify-self: right;
}

@media screen and (max-width: 960px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "elect elect elect contact contact contact"
      "partner fnf punchup bml ilaw ."
      ". . copyright copyright . .";
  }

  .footer-copyright {
    justify-self: center !important;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "elect elect elect"
      "contact contact contact"
      ". partner ."
      "fnf punchup ."
      "bml ilaw ."
      "copyright copyright copyright";
  }

  .footer-elect {
    justify-self: left !important;
  }

  .footer-contact {
    justify-self: left !important;
  }

  .footer-logo,
  .footer-copyright {
    justify-self: center !important;
  }
}

@media screen and (max-width: 320px) {
  .footer-container {
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "elect"
      "contact"
      "partner"
      "fnf"
      "punchup"
      "bml"
      "ilaw"
      "copyright";
  }
}
