.footer {
  display: grid;
  grid-template-columns: 7vw 1fr 7vw;
  grid-auto-rows: auto auto;
  background-color: black;
  padding: 50px 0;
}

.footer-container {
  max-width: 920px;
  margin: auto;
  display: grid;
  column-gap: 2vw;
  row-gap: 2vw;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "elect elect elect elect contact contact contact contact"
    "partner bml punchup ilaw skooldio matter copyright copyright";
}

.footer-elect {
  grid-area: elect;
  justify-self: left;
}

.footer-elect h2,
.footer-elect h3 {
  margin-left: 10px;
}

.footer-elect h2 {
  color: white;
  font-size: 22px;
  margin-top: -3.5px;
}

.footer-elect h3 {
  color: white;
}

.footer-elect::before {
  background-color: #ef314a;
  content: "";
  position: absolute;
  height: 45px;
  width: 4px;
}

.footer-contact {
  grid-area: contact;
  justify-self: right;
}

.footer * {
  color: white;
}

.footer-partner {
  grid-area: partner;
}

.link-text {
  border-bottom: 0.1rem solid white;
}

.footer-copyright {
  margin: auto 0;
  font-size: 1rem;
  justify-self: right;
}

@media screen and (max-width: 960px) {
  .footer-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "elect elect elect contact contact contact"
      "partner bml punchup ilaw skooldio matter"
      ". . copyright copyright . .";
  }

  .footer-copyright {
    justify-self: center !important;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    row-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "elect elect elect"
      "contact contact contact"
      ". partner ."
      "bml punchup ilaw"
      "skooldio copyright matter";
  }

  .footer-elect {
    justify-self: left !important;
  }

  .footer-contact {
    justify-self: left !important;
  }

  .footer-logo,
  .footer-copyright {
    justify-self: center !important;
  }
}

@media screen and (max-width: 320px) {
  .footer-container {
    row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-areas:
      "elect"
      "contact"
      "partner"
      "bml"
      "punchup"
      "ilaw"
      "skooldio"
      "matter"
      "copyright";
  }
}
