name: Deploy Preview to Github Page

on:
  push:
    branches: [master]
  repository_dispatch:
    types:
      - webhook-build

jobs:
  pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2
      - name: Pull YAML data
        run: ./tools/sync_data.sh
      - name: Set up Node
        uses: actions/setup-node@v2
        with:
          node-version: '12'
      - name: Install dependencies
        run: npm install
      - name: Build project
        run: npm build
        env:
          BASE_PATH: /constitution
          GTAG_CODE: 'UA-12345678-9'
      - name: Deploy to Github Page
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
